@charset "UTF-8";

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#cadastro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#cadastro > div#imagem {
    display: block;
    background: #5f2c82 url(../../static/images/metal.jpg);
    background-size: cover;

    height: 200px;
}

section#cadastro > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 1em;
}

form > div.campo {
    display: flex;
    border: none;
    border-radius: 5px;
    margin: 5px;
    align-items: center;
}

form > div.campo > input {
    flex-grow: 1;
    height: 2.5em;
}

form > div.campo > select {
    flex-grow: 1;
    height: 2.5em;
}

form > button[type=submit] {
    text-align: center;
    font-size: 1em;
     
    width: 100%;
    height: 40px;
    background-color: #49a09d;

    border: none;
    border-radius: 5px;

    transition: .3s;
}

form > button[type=submit]:hover {
    background-color: #49a09d8f;
}